@if (Description is null && DescriptionTemplate is null)
{
    if (ImageWidth is null)
    {
        <img class="img-fluid" src=@($"../images/projects/{@Project.Id}/{@Project.Id}{imageNumberString}.png") alt="@Project.Title">
    }
    else
    {
        <img class="img-fluid" src=@($"../images/projects/{@Project.Id}/{@Project.Id}{imageNumberString}.png") alt="@Project.Title" style="width: @ImageWidth">
    }
}
else
{
    <div class="text-center">
        @if (ImageWidth is null)
        {
            <img class="img-fluid" src=@($"../images/projects/{@Project.Id}/{@Project.Id}{imageNumberString}.png") alt="@Project.Title">
        }
        else
        {
            <img class="img-fluid" src=@($"../images/projects/{@Project.Id}/{@Project.Id}{imageNumberString}.png") alt="@Project.Title" style="width: @ImageWidth">
        }

        @if (DescriptionTemplate is null)
        {
            <div>
                <span class="text-secondary">@Description</span>
            </div>
        }
        else
        {
            <div>
                @DescriptionTemplate
            </div>
        }
    </div>
}

@code {
    private int? imageNumber;
    private string imageNumberString;

    [Parameter]
    public Project Project { get; set; }

    [Parameter]
    public int? ImageNumber
    {
        get => imageNumber;
        set
        {
            imageNumber = value;

            if (imageNumber is null)
                imageNumberString = string.Empty;
            else
                imageNumberString = $"-{value}";
        }
    }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public RenderFragment DescriptionTemplate { get; set; }

    [Parameter]
    public string ImageWidth { get; set; }
}
