@page "/projects/movie-explorer"

<h3>@project.Title</h3>

<p>@project.Description</p>

<img class="img-fluid" src=@($"../images/projects/{@project.Id}/{@project.Id}.png") alt="@project.Title">

@foreach (var t in project.TechStacks)
{
    <span class="text-white bg-secondary rounded p-1 m-1 d-inline-block h6" style="font-size: 10px;">@t.Name</span>
}

<br />
<br />

<p>This is a personal project that I did. Because I love watching movies and archiving them. The problem without this app is that the movies doesn't have a good filtering, information about the movie and it is not organized the way i wan't it.</p>
<p>This project have multiple app results. Windows, android and web. For windows and android i've used <strong>Xamarin.Forms</strong>. For web i've used <strong>Blazor.WASM</strong> and <strong>WebAPI</strong>. Both mobile and web are using <strong>Entity Framework</strong> with <strong>SQLite</strong> for the database. <strong>Data-access</strong> and <strong>business logic</strong> layer are on separate project so that it can be re-used for mobile and web.</p>

<img class="img-fluid" src=@($"../images/projects/{@project.Id}/{@project.Id}-2.png") alt="@project.Title">


<br />
<br />

<p>It can even access it's native capabilities just like <strong>notification</strong> and <strong>download</strong> apis, so even the app is not running, notification and downloading can be done in the background.</p>
<img class="img-fluid" src=@($"../images/projects/{@project.Id}/{@project.Id}-3.png") alt="@project.Title">
<img class="img-fluid" src=@($"../images/projects/{@project.Id}/{@project.Id}-4.png") alt="@project.Title">

<br />
<br />
<img class="img-fluid" src=@($"../images/projects/{@project.Id}/{@project.Id}-5.png") alt="@project.Title">
<img class="img-fluid" src=@($"../images/projects/{@project.Id}/{@project.Id}-6.png") alt="@project.Title">

@code {
    private Project project = new Project();

    protected override void OnInitialized()
    {
        var projectRepository = new ProjectRepository();
        project = projectRepository.GetProject("movie-explorer");

        base.OnInitialized();
    }
}