@page "/contact"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Get in touch</h3>
<div class="row">
    <div class="col-12 col-sm-12 col-12 col-lg">
        <div style="font-size: larger;">
            <span>
                If you wanna get in touch, talk to me about a project collaboration or just say hi,
            </span>
            <br />
            <span>
                fill up the awesome form below or send an email to
                <a href="mailto:allen_s_delacruz@yahoo.com" class="a-link-animate-slide-up">allen_s_delacruz@yahoo.com</a>
                and ~let's talk.
            </span>
            <br />
            <br />
            <EditForm Model="dto" OnValidSubmit="SendMessage">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label><b class="required-asterisk">*</b>Name:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@dto.Name" />
                        <ValidationMessage For="@(() => dto.Name)" />
                    </div>
                </div>
                <div class="form-group">
                    <label><b class="required-asterisk">*</b>Email:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@dto.Email" />
                        <ValidationMessage For="@(() => dto.Email)" />
                    </div>
                </div>
                <div class="form-group">
                    <label><b class="required-asterisk">*</b>Subject:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@dto.Subject" />
                        <ValidationMessage For="@(() => dto.Subject)" />
                    </div>
                </div>
                <div class="form-group">
                    <label><b class="required-asterisk">*</b>Message:</label>
                    <div>
                        <InputTextArea class="form-control" rows="5" @bind-Value="@dto.Message" />
                        <ValidationMessage For="@(() => dto.Message)" />
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Send message!</button>
            </EditForm>
        </div>
    </div>
    <div class="col-auto">
        <div class="d-block d-sm-block d-md-block d-lg-none">&nbsp;</div>
        <iframe id="googleMap" src="https://maps.google.com/maps?q=14.8535659,120.7352829&hl=en&z=14&amp&output=embed" width="400" height="400" frameborder="0" style="border: 0" allowfullscreen></iframe>
    </div>
</div>

@code {
    private ContactDto dto = new();

    private async Task SendMessage()
    {
        using var response = await Http.PostAsJsonAsync("https://formsubmit.co/a671828d40f333485dfabed5ce98c1d6", dto);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("contact/success");
        }
    }
}
